/* Tablet */

@media(max-width:991px){

  .vision-wrapper{
    flex-direction: column;
    text-align: center;
  }

  .vision-content h2{
    font-size: 38px;
  }

  .vision-points{
    grid-template-columns: 1fr 1fr;
  }
}

/* Mobile */

@media(max-width:768px){

  .vision-section{
    padding: 70px 15px;
  }

  .vision-content h2{
    font-size: 30px;
  }

  .vision-content p{
    font-size: 16px;
  }

  .vision-points{
    grid-template-columns: 1fr;
  }

  .point-card{
    text-align: left;
  }

  .vision-image img{
    border-radius: 20px;
  }
}
/*======================
   Principal's Message Section
========================*/
/* Tablet */

@media(max-width:991px){

  .principal-card{
    flex-direction: column;
    text-align: center;
    padding: 30px;
  }

  .principal-image{
    flex: unset;
    max-width: 350px;
  }

  .principal-content h2{
    font-size: 34px;
  }
}

/* Mobile */

@media(max-width:768px){

  .principal-message{
    padding: 70px 15px;
  }

  .principal-card{
    padding: 25px;
    gap: 25px;
  }

  .principal-image{
    max-width: 280px;
  }

  .principal-content h2{
    font-size: 28px;
  }

  .principal-content p{
    font-size: 15px;
    line-height: 1.8;
  }

  .principal-info h4{
    font-size: 20px;
  }

  .principal-info span{
    font-size: 14px;
  }
}
/*======================
   Facilities Section=========================*/
   /* RESPONSIVE */
@media(max-width:768px){
  .sphere{
    width: 320px;
    height: 320px;
  }

  .sphere-item{
    width: 110px;
    height: 140px;
  }
}
/*Testimonial Section*/
@media(max-width: 768px){
  .section-header h2{
    font-size: 28px;
  }

  .testimonial-card{
    padding: 20px;
  }
}